/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --library-color: #141922;
    --bar-color: #282828;
    --menu-font-color: #707070;

}

a {
    color: currentColor;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

img {
    max-width: 100%;
}
/* DEBUG */

.debug {
    border: 2px dashed black;
    background-color: aqua;
}

/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    height: 100vh;
}

.upgrade {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 90px;
    opacity: 70%;
    background-color: #000000;
}

.library {
    display: flex;
    flex-grow: 1;
}

.albums {
    flex-grow: 1;
    background-color: var(--library-color);
}

.sidebar {
    width: 230px;
    background-color: #000000;
    flex-shrink: 0;
    padding: 20px 20px;   
}

.player {

    background-color: var(--bar-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.song__title {
    color: white;
    font-size: 14px;
}

.player .track {
    width: 45%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;

}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.player__icon.play {
    font-size: 32px;
    margin: 0 10px;

}

.progres_bar {
    height: 2px;
    min-width: 100px;
    background-color: gray;
    width: 45%;
    
}


.start,.end {
    color: white;
    font-size: 12px;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    padding: 0 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
}


.tools img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    object-position: center;
    display: block;
    flex-shrink: 0;
}

.track__desc {
    color: var(--menu-font-color);
}

/* SIDEBAR */

.app__logo {
    padding-bottom: 26px;
}

.app__logo-sm {
    display: none;
}

.sidebar__top {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px

}

.dark {
    color: var(--menu-font-color);
}

.books {
    font-size: 24px;
    padding: 5px 10px 0 0;
    
}

.sidebar__menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar__menu img {
    width: 34px;

}

.plus__icon {
    width: 35px;
    aspect-ratio: 1/1;
    background-color: #A3A3A3;
    color: black;
    line-height: 35px;
    text-align: center;
}

.playlist__create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.menu__list li {
    color: var(--menu-font-color);
    font-weight: bold;
}

.user__img {
    width: 28px;
    aspect-ratio: 1/1;
    background-color: #808080;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
}

.username {
    color: white;
}

.user {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.user p {
    color: var(--menu-font-color);
}

.line {
    height: 1px;
    width: 100%;
    color: var(--menu-font-color);
}


/* MAIN */

.upper__menu {
    margin-top: 94px;
    color: var(--menu-font-color);
    display: flex;
    justify-content: center;
    gap: 22px;
}

.upper__menu a {
    background-color: transparent;
    font-weight: bold;
    color: var(--menu-font-color);
    font-size: 18px;
}


/* RESPONSIVE */

@media (max-width:575.98px) {
    .sidebar {
        width: 50px;
    }
    .sidebar__menu strong{
        display: none;
    }
    .menu__list {
        display: none;
    }
    .app__logo {
        display: none;
    }
    
    .username {
        display: none;
    }
}
