/* RESET */
html {
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


:root {
    --library-color: #141922;
    --bar-color: #282828;

}
/* DEBUG */

.debug {
    border: 2px dashed black;
    background-color: aqua;
}

/* MAIN */

.main-container {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    position: relative;
    height: 100vh;
}

.upgrade {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 1440px;
    height: 90px;
    opacity: 70%;
    background-color: #000000;
}

.library {
    flex-grow: 1;
    height: 100vh;
    background-color: var(--library-color);

    overflow:auto;
    justify-content: flex-start;
}

.sidebar {
    width: 230px;
    background-color: #000000;   
}

.navbar {
    width: 1440px;
    height: 90px;
    background-color: var(--bar-color);
    position: fixed;
    bottom: 0;
}

body {
    position: relative;
    height: 100vh;
}

/* RESPONSIVE */

@media (max-width:551,99) {
    .sidebar {
        width: 50px;
    }
}